<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/moim/detail.css}">
</th:block>
<th:block layout:fragment="js">
    <script th:inline="javascript">
        let moimNo = [[${moim.moimNo}]]
        // 모달 열기 함수
        function openPositionModal() {
            document.getElementById("positionModal").style.display = "block";
        }
        function openStudyModal() {
            document.getElementById("studyModal").style.display = "block";
        }
        function openRejectModal() {
            document.getElementById("rejectModal").style.display = "block";
        }
        // 모달 닫기 함수
        function closePositionModal() {
            document.getElementById("positionModal").style.display = "none";
        }
        function closeRejectModal() {
            document.getElementById("rejectModal").style.display = "none";
        }
        function closeStudyModal() {
            document.getElementById("studyModal").style.display = "none";
        }

        $(()=>{
            $('.moimTabMenu .bi-lock').parent().click(function(event) {
                event.preventDefault(); // 링크 클릭 이벤트 중지
                // 추가적인 작업을 수행하거나 아무것도 하지 않음
            });

            //멤버 클릭시 정보로 이동
            $(".memberWrap .memberList li").on("click",function (){
                let userNo = $(this).data("no");
                window.location.href = "/user/detail?no="+userNo;
            });

            // 지원하기 버튼 클릭 시
            $(".yet").on("click",function (){
                if(loggedInUser != null) {
                    $(".userNo").val(loggedInUser.userNo);
                } else {
                    $(".headerUser").addClass("active");
                    return false;
                }
                let type = $(this).closest(".headcount").data("tp");
                console.log(type);
                let positionDetailNo = $(this).closest(".headcount").find(".positionDetail").data("no");
                let positionName = $(this).closest(".headcount").find(".positionDetail").html();
                let headcountNo = $(this).closest(".headcount").data("no");
                if(type === 'project') {
                    openPositionModal();
                } else {
                    openStudyModal();
                }

                // 폼의 히든 입력 필드에 값 설정
                $("#positionDetailNo").val(positionDetailNo);
                $(".moimHeadcountNo").val(headcountNo);
                $(".positionName").html(positionName);
            })

            //프로젝트 지원폼 검증
            $('.apply').submit(function(event) {
                // 폼 제출을 취소하여 기본 동작을 막습니다.
                event.preventDefault();
                // 선택된 직장인 여부 값을 가져옵니다.
                let jobValue = $('input[name="job"]:checked').val();
                // 지원 동기를 가져옵니다.
                let reasonValue = $('textarea[name="reason"]').val().trim();
                // 유효성 검사를 수행합니다.
                if (!jobValue) {
                    alert('직장인 여부를 선택해주세요.');
                    return;
                }
                if (!reasonValue) {
                    alert('지원 동기를 입력해주세요.');
                    return;
                }
                // 유효성 검사를 통과한 경우, 폼을 서버로 제출합니다.
                this.submit();
            });

            //스터디 지원폼 검증
            $(".applyStudy").submit(function (event){
                // 폼 제출을 취소하여 기본 동작을 막습니다.
                event.preventDefault();
                // 선택된 직장인 여부 값을 가져옵니다.
                let jobValue = $('input[name="job"]:checked').val();
                // 지원 동기를 가져옵니다.
                let reasonValue = $('textarea[name="reason"]').val().trim();
                // 유효성 검사를 수행합니다.
                if (!jobValue) {
                    alert('직장인 여부를 선택해주세요.');
                    return;
                }
                if (!reasonValue) {
                    alert('지원 동기를 입력해주세요.');
                    return;
                }
                // 유효성 검사를 통과한 경우, 폼을 서버로 제출합니다.
                this.submit();
            })

            //승인하기 버튼 클릭시
            $(".approveBtn").on("click",function (){
                console.log("승인하기");
                let participantNo = $(this).closest(".participantList").find(".participantNo").data("no");
                $.ajax({
                    url : "/moim/approveParticipant",
                    type : "post",
                    data : {participantNo : participantNo,
                    moimNo : moimNo},
                    success : function (){
                        console.log("success");
                    }
                })
                window.location.href="/moim/detail?no=" + moimNo +"&type=member";
            })

            //거절하기 버튼 클릭시
            $(".rejectBtn").on("click",function (){
                openRejectModal();
                console.log("거절하기");
                let participantNo = $(this).closest(".participantList").find(".participantNo").data("no");
                $("#moimParticipantsNo").val(participantNo);
            })
            //거절 사유가 비어있을 때
            $(".reject").submit(function (event){
                event.preventDefault();
                let rejectContent = $("#rejectContents").val().trim();
                if(!rejectContent){
                    alert("거절 사유를 입력해주세요.");
                    return;
                }
                this.submit();
            })

            //모임 삭제
            $(".moimDelete").on("click",function (){
                let confirmDelete = confirm("정말로 삭제하시겠습니까?");
                if(confirmDelete){
                    return true;
                } else {
                    return false;
                }
            })
            // 하트(찜) 버튼 클릭시
            $(".heart").on("click",function (){
                let heartStatus = $(this).attr("data-heart");
                let $currentHeart = $(this);
                if(loggedInUser == null) $(".headerUser").addClass("active");
                if(loggedInUser != null){
                    // 좋아요 처리
                    if( heartStatus == "false" ) {
                        $.ajax({
                            url: "/moim/heart",
                            data: {moimNo:moimNo},
                            success:function () {
                                // data-heart 속성 변경
                                $currentHeart.attr("data-heart", true);
                                // 하트 아이콘 클래스 변경
                                $currentHeart.find(".bi").removeClass("bi-heart").addClass("bi-heart-fill");
                            }
                        })
                    }
                    if( heartStatus == "true" ) {
                        $.ajax({
                            url: "/moim/heartDelete",
                            data: {moimNo:moimNo},
                            success:function () {
                                // data-heart 속성 변경
                                $currentHeart.attr("data-heart", false);
                                // 하트 아이콘 클래스 변경
                                $currentHeart.find(".bi").removeClass("bi-heart-fill").addClass("bi-heart");
                            }
                        })
                    }
                }
            })
            //공유하기 버튼 클릭시
            $(".share").on("click",function (){
                // 복사할 텍스트
                let urlToCopy = window.location.href;

                // 가상의 textarea 요소를 생성하여 텍스트를 복사
                let $tempTextArea = $("<textarea>");
                $("body").append($tempTextArea);
                $tempTextArea.val(urlToCopy).select();
                document.execCommand("copy");
                $tempTextArea.remove();

                // 복사되었다는 메시지 표시 등 추가적인 작업 수행 가능
                alert("주소가 복사되었습니다: " + urlToCopy);
            })
        });
    </script>
</th:block>

<th:block layout:fragment="container">
    <main>
        <div class="container">
            <div class="moimHeaderWrap">
                <div class="moimThumbnail">
                    <img th:if="${moim.moimDetail.moimImg != null}" th:src="${moim.moimDetail.moimImg}" alt="">
                    <img th:if="${moim.moimDetail.moimImg == null}" src="/images/moimBlank.png" alt="">
                </div>
                <div class="moimHeaderContents">
                    <div class="moimPurposeWrap">
                        <span class="badge badge-size-lg badge-project" th:if="${moim.type eq 'project'}"> 프로젝트 </span>
                        <span class="badge badge-size-lg badge-study" th:if="${moim.type eq 'study'}"> 스터디 </span>
                    </div>
                    <div class="moimTitle">
                        <h2 class="title">[[${moim.subject}]]</h2>
                        <span th:if="${moim.status eq 1}">[모집중]</span>
                        <span th:if="${moim.status eq 2}">[모집완료]</span>
                        <div>
                            <button type="button" class="share"><i class="bi bi-share"></i></button> &nbsp;
                            <button type="button" class="heart" th:data-heart="${moimLike != null ? true : false}">
                                <th:block th:if="${moimLike != null}">
                                    <i class="bi bi-heart-fill"></i>
                                </th:block>
                                <th:block th:if="${moimLike == null}">
                                    <i class="bi bi-heart"></i>
                                </th:block>
                            </button>
                        </div>
                    </div>
                    <div class="shortDesc">
                        <p>[[${moim.shortDesc}]]</p>
                    </div>
                    <div class="moimCate">
                        <h4 class="title">모임 분야</h4>
                        <th:block th:if="${moim.moimDetail.category != null}">
                            <p th:text="${moim.moimDetail.category.categoryName}"></p>
                        </th:block>
                        <th:block th:if="${moim.moimDetail.studyCategory != null}">
                            <p th:text="${moim.moimDetail.studyCategory.studyCategoryName}"></p>
                        </th:block>
                    </div>
                    <div class="moimLanguage">
                        <h4 class="title">사용 언어 및 기술</h4>
                        <ul class="moimLanguageList">
                            <li th:each="language : ${moim.languageList}">
                                <div class="item" th:if="${language.path==null}">
                                    <span class="badge rounded-pill text-bg-secondary">[[${language.name}]]</span>
                                </div>
                                <div class="item" th:if="${language.path!=null}">
                                    <img th:src="${language.path}" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <th:block th:if="${moim.type eq 'project'}">
                        <div class="moimPlatform">
                            <h4 class="title">출시 플랫폼</h4>
                            <ul class="moimPlatformList">
                                <li th:each="platformList : ${moim.projectPlatformList}">
                                    <div class="item">
                                        <span class="badge rounded-pill text-bg-secondary">[[${platformList.platform.name}]]</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="moimPageWrap">
                <div class="moimDetailContents">
                    <div class="moimTabMenu">
                        <ul class="tabList">
                            <li th:class="${type == 'info' ? 'active' : ''}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='info')}">정보</a></li>
                            <li th:class="${type == 'member' ? 'active' : ''}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='member')}">멤버</a></li>
                            <li th:class="${type == 'todo' ? 'active' : ''}" th:if="${ableMemberTab}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='todo')}">할일</a></li>
                            <li th:unless="${ableMemberTab}"><a href="">할일<i class="bi bi-lock"></i></a></li>
                            <li th:class="${type == 'meeting' ? 'active' : ''}" th:if="${ableMemberTab}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='meeting')}">미팅</a></li>
                            <li th:unless="${ableMemberTab}"><a href="">미팅<i class="bi bi-lock"></i></a></li>
                            <li th:class="${type == 'control' ? 'active' : ''}" th:if="${ableControlTab}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='control')}">관리</a></li>
                            <li th:unless="${ableControlTab}"><a href="">관리<i class="bi bi-lock"></i></a></li>
                        </ul>
                    </div>
                    <div class="moimDetailWrap">
                        <th:block th:if="${infoTab}">
                            <div class="detailDesc"
                                th:utext="${#strings.replace(moim.moimDetail.detailDesc, nlString, '&lt;br /&gt;')}">
                            </div>
                        </th:block>
                        <th:block th:if="${memberTab}">
                            <th:block th:if="${moim.status==1}">
                                <div class="recruitStatus">
                                    <div class="title">
                                        <h2>모집 현황</h2>
                                    </div>
                                    <th:block th:if="${moim.type == 'project'}">
                                        <ul th:each=" data : ${moim.headcountList}">
                                            <li class="headcount" th:data-no="${data.moimHeadcountNo}" th:data-tp="${moim.type}">
                                                <div class="positionDetail" th:data-no="${data.positionDetail.positionDetailNo}">
                                                    <p th:if="${data.positionDetail}">[[${data.positionDetail.middleName}]]</p>
                                                    <p th:unless="${data.positionDetail}">누구나 가능</p>
                                                </div>
                                                <div class="participant">
                                                    <span class="approval">[[${data.participantApprovalList.size()}]]</span> /
                                                    <span class="personnel">[[${data.personnel}]]</span>
                                                </div>
                                                <div class="applyBtn">
                                                    <button th:if="${data.participantApprovalList.size() < data.personnel}" type="button" class="yet">지원하기</button>
                                                    <button th:if="${data.participantApprovalList.size() == data.personnel}" type="button" class="done">모집완료</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </th:block>
                                    <th:block th:if="${moim.type == 'study'}">
                                        <ul th:each=" data : ${moim.headcountList}">
                                            <li class="headcount" th:data-no="${data.moimHeadcountNo}" th:data-tp="${moim.type}">
                                                <div class="positionDetail">
                                                    <p th:if="${data.positionDetail != null}">[[${data.positionDetail.middleName}]]</p>
                                                    <p th:unless="${data.positionDetail}">누구나 가능</p>
                                                </div>
                                                <div class="participant">
                                                    <span class="approval">[[${data.participantApprovalList.size()}]]</span> /
                                                    <span class="personnel">[[${data.personnel}]]</span>
                                                </div>
                                                <div class="applyBtn">
                                                    <button th:if="${data.participantApprovalList.size() < data.personnel}" type="button" class="yet">지원하기</button>
                                                    <button th:if="${data.participantApprovalList.size() == data.personnel}" type="button" class="done">모집완료</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </th:block>
                                </div>
                            </th:block>
                            <th:block th:if="${moim.type == 'project'}">
                                <div id="positionModal" class="positionModal">
                                    <div class="positionModal-content">
                                        <h3 class="title">지원하기</h3>
                                        <span class="close" onclick="closePositionModal();">&times;</span>
                                        <div class="applyPosition">
                                            <p class="title">지원 포지션</p>
                                            <p class="positionName"></p>
                                        </div>
                                        <div class="applyForm">
                                            <form action="/moim/apply" class="apply" method="post">
                                                <input type="hidden" name="positionDetailNo" id="positionDetailNo" value="">
                                                <input type="hidden" name="moimHeadcountNo" class="moimHeadcountNo" value="">
                                                <input type="hidden" name="userNo" class="userNo" value="">
                                                <input type="hidden" name="moimNo" th:value="${moim.moimNo}">
                                                <div class="haveJob">
                                                    <p class="title">직장인 여부</p>
                                                    <label><input type="radio" name="job" value="Y"> 예</label>
                                                    <label><input type="radio" name="job" value="N"> 아니오</label>
                                                </div>
                                                <textarea name="reason" placeholder="지원동기를 입력해주세요."></textarea>
                                                <input type="submit" class="submitBtn" value="지원하기">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${moim.type == 'study'}">
                                <div id="studyModal" class="studyModal">
                                    <div class="studyModal-content">
                                        <h3 class="title">지원하기</h3>
                                        <span class="close" onclick="closeStudyModal();">&times;</span>
                                        <div class="applyPosition">
                                            <p class="title">지원 포지션</p>
                                            <p class="positionName"></p>
                                        </div>
                                        <div class="applyForm">
                                            <form action="/moim/applyStudy" class="applyStudy" method="post">
                                                <input type="hidden" name="moimHeadcountNo" class="moimHeadcountNo" value="">
                                                <input type="hidden" name="userNo" class="userNo" value="">
                                                <input type="hidden" name="moimNo" th:value="${moim.moimNo}">
                                                <div class="haveJob">
                                                    <p class="title">직장인 여부</p>
                                                    <label><input type="radio" name="job" value="Y"> 예</label>
                                                    <label><input type="radio" name="job" value="N"> 아니오</label>
                                                </div>
                                                <textarea name="reason" placeholder="지원동기를 입력해주세요."></textarea>
                                                <input type="submit" class="submitBtn" value="지원하기">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                            <div class="participating">
                                <div class="title">
                                    <h2>참여 멤버</h2>
                                </div>
                                <div class="memberWrap">
                                    <ul class="memberList">
                                        <li th:each="m : ${moimMember}" th:data-no="${m.userNo}">
                                            <div class="thumbnail">
                                                <img th:if="${m.userDetail.profileImg}" th:src="'/display?fileName='+${m.userDetail.profileImg}" alt="">
                                                <img th:if="${m.userDetail.profileImg eq null}" src="/images/profileBlank.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="nickname">
                                                    [[${m.userDetail.users.nickname}]]
                                                    <th:block th:if="${m.userJob != null}">
                                                        <span class="level" th:if="${m.userJob.level != null}">
                                                            Lv. [[${m.userJob.level}]]
                                                        </span>
                                                    </th:block>
                                                </p>
                                                <th:block th:if="${m.userDetail.introduce != null}">
                                                    <th:block th:if="${0 < m.userDetail.introduce.length() && m.userDetail.introduce.length() < 15}">
                                                        <p class="introduce">
                                                            <th:block th:text="${m.userDetail.introduce}"></th:block>
                                                        </p>
                                                    </th:block>
                                                    <th:block th:if="${m.userDetail.introduce.length() > 15}">
                                                        <p class="introduce">
                                                            <th:block th:text="${#strings.substring(m.userDetail.introduce, 0, 15)+ '..'}"> </th:block>
                                                        </p>
                                                    </th:block>
                                                </th:block>
                                                <p class="positionDetail" th:text="${m.userJob==null || m.userJob.positionDetail==null ? '직무없음' : m.userJob.positionDetail.middleName}">
                                                </p>
                                            </div>
                                            <div class="message">
                                                <i class="bi bi-envelope"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${todoTab}">
                            <div id="checklist">
                                <th:block th:replace="moim/checklist :: checklist(moimNo=${moim.moimNo})"></th:block>
                            </div>
                        </th:block>
                        <th:block th:if="${meetingTab}">
                            <div id="detail">
                                <th:block th:replace="meeting/detail :: detail(moimNo=${moim.moimNo})"></th:block>
                            </div>
                        </th:block>
                        <th:block th:if="${controlTab}">
                            <div class="control">
                                <div class="title">
                                    <h2>지원자 관리</h2>
                                </div>
                                <div class="participantWrap">
                                    <ul class="participantList">
                                        <li class="participantNo" th:each="p : ${participants}" th:data-no="${p.moimParticipantsNo}" th:if="${p.status == 1}">
                                            <div class="info">
                                                <div class="thumbnail">
                                                    <a th:href="@{/user/detail(no=${p.users.userNo})}">
                                                        <img th:if="${p.users.userDetail.profileImg}" th:src="${p.users.userDetail.profileImg}" alt="">
                                                        <img th:if="${p.users.userDetail.profileImg eq null}" src="/images/profileBlank.png" alt="">
                                                        <p class="nickname">
                                                            [[${p.users.nickname}]]
                                                            <th:block th:if="${p.userJob != null}">
                                                                <span class="level" th:if="${p.userJob.level != null}">
                                                                    Lv. [[${p.userJob.level}]]
                                                                </span>
                                                            </th:block>
                                                        </p>
                                                    </a>
                                                </div>
                                                <th:block th:if="${p.users.userDetail.introduce != null}">
                                                    <p class="introduce" th:if="${p.users.userDetail.introduce.length() > 0}">
                                                        <th:block th:text="${#strings.substring(p.users.userDetail.introduce, 0, 15)+ '..'}"> </th:block>
                                                    </p>
                                                </th:block>
                                                <p class="positionDetail" th:text="${p.userJob==null || p.userJob.positionDetail==null ? '직무없음' : p.userJob.positionDetail.middleName}">
                                                </p>
                                                <span th:text="${p.userOnline == null ? '온/오프라인 여부 문의해주세요': p.userOnline.online.onlineName}"></span>
                                            </div>
                                            <div class="decideBtn">
                                                <button type="button" class="approveBtn">승인하기</button>
                                                <button type="button" class="rejectBtn">거절하기</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="rejectModal" class="rejectModal">
                                    <div class="rejectModal-content">
                                        <h3 class="title">거절하기</h3>
                                        <span class="close" onclick="closeRejectModal();">&times;</span>
                                        <div class="rejectForm">
                                            <form action="/moim/rejectParticipant" class="reject" method="post">
                                                <input type="hidden" name="participantNo" id="moimParticipantsNo" value="">
                                                <input type="hidden" name="moimNo" th:value="${moim.moimNo}">
                                                <textarea name="contents" id="rejectContents" placeholder="거절 사유를 입력해주세요."></textarea>
                                                <input type="submit" class="submitBtn" value="거절하기">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="title">
                                    <h2>모임 관리</h2>
                                </div>
                                <div class="moimControl">
                                    <a th:href="@{/moim/complete(no=${moim.moimNo})}"><button type="button" class="moimComplete">모임 완료</button></a>
                                    <a th:href="@{/moim/delete(no=${moim.moimNo})}"><button type="button" class="moimDelete">모임 삭제</button></a>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <aside class="moimRightInfoContents">
                    <a th:href="@{/user/detail(no=${moim.users.userNo})}">
                        <div class="userProfile">
                            <p>[리더]</p>
                            <p>[[${moim.users.nickname}]]</p>
                            <img th:if="${moim.users.userDetail.profileImg!=null}" th:src="${moim.users.userDetail.profileImg}" alt="">
                            <img th:if="${moim.users.userDetail.profileImg == null}" src="/images/profileBlank.png" alt="">
                        </div>
                    </a>
                </aside>
            </div>
        </div>
    </main>
</th:block>

</html>