<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/moim/detail.css}">
</th:block>
<th:block layout:fragment="js">
    <script th:inline="javascript">
        // 모달 열기 함수
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }
        // 모달 닫기 함수
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        $(()=>{
            $('.moimTabMenu .bi-lock').parent().click(function(event) {
                event.preventDefault(); // 링크 클릭 이벤트 중지
                // 추가적인 작업을 수행하거나 아무것도 하지 않음
            });

            //멤버 클릭시 정보로 이동
            $(".memberWrap .memberList li").on("click",function (){
                let userNo = $(this).data("no");
                window.location.href = "/user/detail?no="+userNo;
            });

            // 모달 창 닫기 버튼과 모달 바깥 영역을 클릭하여 모달 닫기
            window.onclick = function(event) {
                var modal = document.getElementById("myModal");
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // 지원하기 버튼 클릭 시
            $(".yet").on("click",function (){
                if(loggedInUser != null) {
                    $("#userNo").val(loggedInUser.userNo);
                } else {
                    alert("로그인 해주세요.");
                    return false;
                }
                openModal();
                let positionDetailNo = $(this).closest(".headcount").find(".positionDetail").data("no");
                let positionName = $(this).closest(".headcount").find(".positionDetail").html();
                let headcountNo = $(this).closest(".headcount").data("no");
                $("#positionDetailNo").val(positionDetailNo); // 폼의 히든 입력 필드에 값 설정
                $("#moimHeadcountNo").val(headcountNo);
                $("#positionName").html(positionName);
            })

            $('.apply').submit(function(event) {
                // 폼 제출을 취소하여 기본 동작을 막습니다.
                event.preventDefault();
                // 선택된 직장인 여부 값을 가져옵니다.
                let jobValue = $('input[name="job"]:checked').val();
                // 지원 동기를 가져옵니다.
                let reasonValue = $('textarea[name="reason"]').val().trim();
                // 유효성 검사를 수행합니다.
                if (!jobValue) {
                    alert('직장인 여부를 선택해주세요.');
                    return;
                }
                if (!reasonValue) {
                    alert('지원 동기를 입력해주세요.');
                    return;
                }
                // 유효성 검사를 통과한 경우, 폼을 서버로 제출합니다.
                this.submit();
            });
        });
    </script>
</th:block>

<th:block layout:fragment="container">
    <main>
        <div class="container">
            <div class="moimHeaderWrap">
                <div class="moimThumbnail">
                    <img th:if="${moim.moimDetail.moimImg != null}" th:src="${moim.moimDetail.moimImg}" alt="">
                    <img th:if="${moim.moimDetail.moimImg == null}" src="/images/moimBlank.png" alt="">
                </div>
                <div class="moimHeaderContents">
                    <div class="moimPurposeWrap">
                        <span class="badge badge-size-lg badge-project" th:if="${moim.type eq 'project'}"> 프로젝트 </span>
                        <span class="badge badge-size-lg badge-study" th:if="${moim.type eq 'study'}"> 스터디 </span>
                    </div>
                    <div class="moimTitle">
                        <h2 class="title">[[${moim.subject}]]</h2>
                        <span th:if="${moim.status eq 1}">[모집중]</span>
                        <span th:if="${moim.status eq 2}">[모집완료]</span>
                        <div>
                            <button type="button"><i class="bi bi-share"></i></button> &nbsp;
                            <button type="button"><i class="bi bi-heart"></i></button>
                        </div>
                    </div>
                    <div class="shortDesc">
                        <p>[[${moim.shortDesc}]]</p>
                    </div>
                    <div class="moimCate">
                        <h4 class="title">모임 분야</h4>
                        <th:block th:if="${moim.moimDetail.category != null}">
                            <p th:text="${moim.moimDetail.category.categoryName}"></p>
                        </th:block>
                        <th:block th:if="${moim.moimDetail.studyCategory != null}">
                            <p th:text="${moim.moimDetail.studyCategory.studyCategoryName}"></p>
                        </th:block>
                    </div>
                    <div class="moimLanguage">
                        <h4 class="title">사용 언어 및 기술</h4>
                        <ul class="moimLanguageList">
                            <li th:each="language : ${moim.languageList}">
                                <div class="item" th:if="${language.path==null}">
                                    <span class="badge rounded-pill text-bg-secondary">[[${language.name}]]</span>
                                </div>
                                <div class="item" th:if="${language.path!=null}">
                                    <img th:src="${language.path}" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <th:block th:if="${moim.type eq 'project'}">
                        <div class="moimPlatform">
                            <h4 class="title">출시 플랫폼</h4>
                            <ul class="moimPlatformList">
                                <li th:each="platformList : ${moim.projectPlatformList}">
                                    <div class="item">
                                        <span class="badge rounded-pill text-bg-secondary">[[${platformList.platform.name}]]</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="moimPageWrap">
                <div class="moimDetailContents">
                    <div class="moimTabMenu">
                        <ul class="tabList">
                            <li th:class="${type == 'info' ? 'active' : ''}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='info')}">정보</a></li>
                            <li th:class="${type == 'member' ? 'active' : ''}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='member')}">멤버</a></li>
                            <li th:class="${type == 'todo' ? 'active' : ''}" th:if="${ableMemberTab}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='todo')}">할일</a></li>
                            <li th:unless="${ableMemberTab}"><a href="">할일<i class="bi bi-lock"></i></a></li>
                            <li th:class="${type == 'meeting' ? 'active' : ''}" th:if="${ableMemberTab}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='meeting')}">미팅</a></li>
                            <li th:unless="${ableMemberTab}"><a href="">미팅<i class="bi bi-lock"></i></a></li>
                            <li th:class="${type == 'control' ? 'active' : ''}" th:if="${ableControlTab}"><a th:href="@{/moim/detail(no=${moim.moimNo},type='control')}">관리</a></li>
                            <li th:unless="${ableControlTab}"><a href="">관리<i class="bi bi-lock"></i></a></li>
                        </ul>
                    </div>
                    <div class="moimDetailWrap">
                        <th:block th:if="${infoTab}">
                            <div class="detailDesc"
                                th:utext="${#strings.replace(moim.moimDetail.detailDesc, nlString, '&lt;br /&gt;')}">
                            </div>
                        </th:block>
                        <th:block th:if="${memberTab}">
                            <div class="recruitStatus">
                                <div class="title">
                                    <h2>모집 현황</h2>
                                </div>
                                <ul th:each=" data : ${moim.headcountList}">
                                    <li class="headcount" th:data-no="${data.moimHeadcountNo}">
                                        <div class="positionDetail" th:data-no="${data.positionDetail.positionDetailNo}">
                                            <p th:if="${data.positionDetail}">[[${data.positionDetail.middleName}]]</p>
                                            <p th:unless="${data.positionDetail}">누구나 가능</p>
                                        </div>
                                        <div class="participant">
                                            <span class="approval">[[${data.participantApprovalList.size()}]]</span> /
                                            <span class="personnel">[[${data.personnel}]]</span>
                                        </div>
                                        <div class="applyBtn">
                                            <button th:if="${data.participantApprovalList.size() < data.personnel}" type="button" class="yet">지원하기</button>
                                            <button th:if="${data.participantApprovalList.size() == data.personnel}" type="button" class="done">모집완료</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <h3 class="title">지원하기</h3>
                                    <span class="close" onclick="closeModal();">&times;</span>
                                    <div class="applyPosition">
                                        <p class="title">지원 포지션</p>
                                        <p id="positionName"></p>
                                    </div>
                                    <div class="applyForm">
                                        <form action="/moim/apply" class="apply" method="post">
                                            <input type="hidden" name="positionDetailNo" id="positionDetailNo" value="">
                                            <input type="hidden" name="moimHeadcountNo" id="moimHeadcountNo" value="">
                                            <input type="hidden" name="userNo" id="userNo" value="">
                                            <input type="hidden" name="moimNo" id="moimNo" th:value="${moim.moimNo}">
                                            <div class="haveJob">
                                                <p class="title">직장인 여부</p>
                                                <label><input type="radio" name="job" value="Y"> 예</label>
                                                <label><input type="radio" name="job" value="N"> 아니오</label>
                                            </div>
                                            <textarea name="reason" placeholder="지원동기를 입력해주세요."></textarea>
                                            <input type="submit" class="submitBtn" value="지원하기">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="participating">
                                <div class="title">
                                    <h2>참여 멤버</h2>
                                </div>
                                <div class="memberWrap">
                                    <ul class="memberList">
                                        <li th:each="m : ${moimMember}" th:data-no="${m.userNo}">
                                            <div class="thumbnail">
                                                <img th:if="${m.userDetail.profileImg}" th:src="${m.userDetail.profileImg}" alt="">
                                                <img th:if="${m.userDetail.profileImg eq null}" src="/images/profileBlank.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="nickname">
                                                    [[${m.userDetail.users.nickname}]]
                                                    <span class="level">
                                                        Lv. <span th:text="${m.userJob.level eq null ? '0' : m.userJob.level}"></span>
                                                    </span>
                                                </p>
                                                <th:block th:if="${m.userDetail.introduce != null}">
                                                    <p class="introduce" th:if="${m.userDetail.introduce.length() > 0}">
                                                        <th:block th:text="${#strings.substring(m.userDetail.introduce, 0, 15)+ '..'}"> </th:block>
                                                    </p>
                                                </th:block>
                                                <p class="positionDetail" th:text="${m.userJob==null || m.userJob.positionDetail==null ? '직무없음' : m.userJob.positionDetail.middleName}">
                                                </p>
                                            </div>
                                            <div class="message">
                                                <i class="bi bi-envelope"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <aside class="moimRightInfoContents">
                    <a th:href="@{/user/detail(no=${moim.users.userNo})}">
                        <div class="userProfile">
                            <p>[리더]</p>
                            <p>[[${moim.users.nickname}]]</p>
                            <img th:src="${moim.users.userDetail.profileImg}" alt="">
                        </div>
                    </a>
                </aside>
            </div>
        </div>
    </main>
</th:block>

</html>