<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" th:href="@{/css/moim/write.css}">
</th:block>
<th:block layout:fragment="js">
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script th:src="@{/js/moim/write.js}"></script>

    <script th:inline="javascript">
        let moimData = [[${moimData}]];
    </script>
    <script>
        $(() => {
            let moimType = moimData!=null ? moimData.type : 'project';
            $("input[name='type'][value='"+moimType+"']").prop("checked", true).trigger("change");
        });

        function templateLoadCallback(type) {
            if( moimData ) {
                $("input[name='moimNo']").val(moimData.moimNo);
                $("input[name='subject']").val(moimData.subject);
                $("input[name='shortDesc']").val(moimData.shortDesc);

                // 대표 이미지
                moimImgLoader(moimData.moimImgPath);

                // 온/오프라인
                onlineSelect.find("option[value='"+moimData.onlineNo+"']").prop("selected", true).trigger("change");
                if( moimData.onlineNo!=2 ) {
                    $("input[name='offAddr']").val(moimData.offAddr);
                    $("input[name='fee']").val(moimData.fee);
                }

                // 사용 언어
                if( moimData.language.length>0 ) {
                    moimData.language.forEach(language => {
                        languageSelect.append(`<option value="${language}" selected>${language}</option>`).trigger("change");
                    })
                }

                // 모집인원
                moimData.headcountNo.forEach((headcountNo, idx) => {
                    if( moimData.positionNo[idx]!=null ) {
                        if( idx!=0 ) {
                            positionAddToDrop("add");
                            $(positionSelect[idx]).find("option[value='"+moimData.positionNo[idx]+"']").prop("selected", true).trigger("change");
                        }

                        $(positionSelect[idx]).siblings("input[name='headcountNo']").val(headcountNo);
                        $(positionSelect[idx]).parent().siblings().find("input[name='personnel']").val(moimData.personnel[idx]);
                    } else {
                        $("input[name='everyone']").prop("checked", true);
                        positionEveryoneEvent();
                        $("input[name='personnel']").val(moimData.personnel[0]);
                    }
                });

                // 모임 상세설명
                detailDescEditor.setMarkdown(moimData.detailDesc, false);
                $(document).scrollTop(0);

                // 프로젝트
                if( type=='project' ) {
                    // 분야
                    $("input[name='categoryNo'][value='"+moimData.categoryNo+"']").prop("checked", true);

                    // 출시 플랫폼
                    if( moimData.platformNo.length>0 ) {
                        moimData.platformNo.forEach(p => {
                            platformSelect.find("option[value='"+p+"']").prop("selected", true).trigger("change");
                        })
                    }

                    // 참고 링크
                    if( moimData.link.length>0 ) {
                        moimData.link.forEach((link, idx) => {
                            if( idx!=0 )    linkControl("add");
                            $("input[name='linkNo']").eq(idx).val(moimData.linkNo[idx]);
                            $("input[name='link']").eq(idx).val(link);
                        });
                    }
                } else {
                    studyCategoryselect.find("option[value='"+moimData.studyCategoryNo+"']").prop("selected", true).trigger("change");
                }
            }
        }

        function getPositionDetailCallback(detailTarget) {
            if( moimData ) {
                let idx = detailTarget.parents(".colItem").index();
                detailTarget.find("option[value='"+moimData.positionDetailNo[idx]+"']").prop("selected", true);
            }
        }
    </script>
</th:block>

<th:block layout:fragment="container">
    <main>
        <div class="container">
            <form th:action="'/moim/' + ${processType}" method="post" enctype="multipart/form-data" name="writeForm" onsubmit="return formCheck();" autocomplete="off">
                <input type="hidden" name="moimNo">

                <div class="wrapper type">
                    <div class="mainTitle">
                        <div class="title">
                            <p class="subject">모임 유형</p>
                            <p class="desc">모집하려는 모임의 유형을 선택해주세요.</p>
                        </div>
                    </div>
                    <div class="content">
                        <input type="radio" name="type" value="project" id="type-project" checked>
                        <label for="type-project">프로젝트</label>
                        <input type="radio" name="type" value="study" id="type-study">
                        <label for="type-study">스터디</label>
                    </div>
                </div>
                <div class="formWrapper"></div>

                <div class="formButton">
                    <button type="submit" class="btn btn-custom-add btn-lg">작성완료</button>
                    <a href="/" class="btn btn-secondary btn-lg">다음에 하기</a>
                </div>
            </form>
        </div>
    </main>


    <template id="moimProjectTemplate">
        <th:block th:replace="fragment/moimProjectTemplate :: moimProjectTemplate(moimData=${moimData})"></th:block>
    </template>
    <template id="moimStudyTemplate">
        <th:block th:replace="fragment/moimStudyTemplate :: moimStudyTemplate(moimData=${moimData})"></th:block>
    </template>
</th:block>

</html>