@charset "UTF-8";
main .container {
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto; /* 가운데 정렬을 위해 추가 */
    justify-content: space-between;
    padding: 20px; /* 내부 여백 추가 */
}
.moimRightInfoContents {
    position: fixed;
    top: 30%;
    left: 80%;
    width: 250px;
    margin-left: 10px;
    padding: 20px; /* 내부 여백 추가 */
    border-radius: 8px; /* 모서리를 둥글게 만듦 */
}
.moimHeaderWrap{display: flex; margin-top: 50px;}
.moimThumbnail{width: 40%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px;}
.moimThumbnail img{width: 550px; height: 370px;}
.moimHeaderContents{calc(60% - 250px); margin-left: 50px;}
.moimHeaderContents .title{font-weight: bold; color: black; font-size: 1.5rem;}
.moimHeaderContents .shortDesc{width:550px;}
.moimHeaderContents > div {margin-bottom: 13px; /* 각 요소 사이에 10px의 아래 여백을 추가합니다. */}
.moimTitle{ display: flex;}
.moimTitle span{padding-top: 8px; margin-left: 10px; text-align: center;}
.moimTitle div{margin-left: 200px;}
.moimTitle div button{outline: none; border: none;}
.moimLanguage .moimLanguageList{ display: flex; align-items: center; height: 50px;}
.moimLanguage .item{text-align: center;  margin-right: 10px; margin-left: 1px;}
.moimLanguage .item img{width: 30px; height: auto;}
/*(위)헤더 ------------ 본문(아래)*/
.moimPageWrap{display: flex; margin-top: 60px;}
.moimDetailContents{width: 75%;}
.moimDetailWrap .detailDesc, .recruitStatus{margin-top: 30px;}
.recruitStatus, .participating  .title{margin-bottom: 30px; color: black;}
.recruitStatus .headcount {display: flex; align-items: center; margin-bottom: 10px; /* 세로 간격 조정 */}
.recruitStatus .participant{width : 50px; margin-left: 200px;}
.recruitStatus .positionDetail{width: 200px; align-items: center;}
.recruitStatus ul{margin-bottom: 30px;}
.recruitStatus .applyBtn .yet{margin-left: 30px; padding:10px; width: 100px; height: 40px; color:#FF8911;  border: 1px solid #FF8911; border-radius: 5px;}
.recruitStatus .applyBtn .done{margin-left: 30px; padding:10px; width: 100px; height: 40px; color:white;  border: 1px solid #FF8911; border-radius: 5px;}
.participating .memberWrap{width: 1200px;}
.participating .memberList{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.participating .memberList li{position: relative; display: flex; justify-content: space-between; align-items: center; width: calc(25% - (60px / 4)); border: 1px solid #ccc; border-radius: 10px; margin-right: 20px; margin-bottom: 30px; padding: 20px; overflow: hidden; cursor: pointer;}
.participating .memberList > li:nth-child(4n) { margin-right: 0; }
.participating .memberList > li .thumbnail { width: 25%; }
.participating .memberList .thumbnail img{ width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; overflow: hidden;}
.participating .memberList > li .info{width: 70%; padding-left: 20px; }
.participating .memberList > li .info .nickname{font-weight: 600; font-size: 1.1rem; color: #1F1926;}
.participating .memberList > li .info .introduce{width: 100px;}
.participating .memberList > li .info .level{font-weight: 200; color: #FF8911; font-size: 15px; padding-left: 5px;}
.participating .memberList > li .info .positionDetail{margin-top: 10px;}
.participating .memberList > li .message { width: 25%; text-align: right; cursor: pointer; }
.participating .memberList > li .message i { font-size: 1.5rem; color: #ccc; }
.decideBtn
.participantWrap {width: 1200px;}
.participantWrap .participantList{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.participantWrap .participantList li{position: relative; justify-content: space-between; align-items: center; width: calc(25% - (40px / 4)); border: 1px solid #ccc; border-radius: 10px; margin-right: 20px; margin-bottom: 30px; padding: 20px; overflow: hidden;}
.participantWrap .participantList > li:nth-child(4n) { margin-right: 0; }
.participantWrap .participantList > li .thumbnail a { display: flex; align-items: center;}
.participantWrap .participantList img { width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; overflow: hidden;}
.participantWrap .participantList > li .info {width:100%; padding-left: 5px; }
.participantWrap .participantList > li .info .nickname{font-weight: 600; font-size: 1.1rem; color: #1F1926; margin-left: 5px;}
.participantWrap .participantList > li .info .introduce{width: 100%; margin-top: 5px;}
.participantWrap .participantList > li .info .level{font-weight: 200; color: #FF8911; font-size: 15px; padding-left: 5px;}
.participantWrap .participantList > li .info .positionDetail{margin-top: 10px;}
.participantWrap .participantList > li .decideBtn{width:100%; padding-left: 5px; margin-top: 10px; text-align: center; justify-content: space-between}
.participantWrap .participantList > li .decideBtn .approveBtn{width: 48%; height: 40px; border-radius: 5px; background-color:#FF8911; color:white;  border: 1px solid #FF8911;}
.participantWrap .participantList > li .decideBtn .rejectBtn{width: 48%; height: 40px; border-radius: 5px; background-color:#CCCCCC; color:#444444;  border: 1px solid #CCCCCC;}
.control .moimControl{width: 1000px;}
.control .moimControl .moimComplete{width: 22%; height: 45px; border-radius: 5px; background-color:#7B27FF; color:white;  border: 1px solid #7B27FF;}
.control .moimControl .moimDelete{margin-left: 10px; width: 22%; height: 45px; border-radius: 5px; background-color:#CC0000; color:white;  border: 1px solid #CC0000;}
.control .moimControl .moimModify{margin-left: 10px; width: 22%; height: 45px; border-radius: 5px; background-color:#FF8911; color:white;  border: 1px solid #FF8911;}
.todo {margin-top: 30px;}
.todo .title {margin-bottom: 30px; color: black;}
.todo .contents{width: 70%; height: 40px; border-radius: 5px;}
.todo .applyTodo input[type='submit']{width: 20%;  height: 40px; border-radius: 5px; background-color:#FF8911; color:#777777;  border: 1px solid;}
.todo .checkList {margin-top: 10px;}
.meeting {margin-top: 30px; display: flex;}
.meeting .title, .applyMeeting{margin-bottom: 30px; color: black;}
.meeting .applyMeeting{margin-left: 30px;}
.meeting .applyMeeting button{line-height: 30px; width: 100px; height: 40px; border-radius: 5px; background-color:#FF8911; color:white;  border: 1px solid #FF8911;}
.control{margin-top: 30px;}
.control .title{margin-bottom: 30px; color: black;}



/* 모달 스타일 */
.positionModal, .rejectModal, .studyModal
 {
    display: none; /* 모달 초기에 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* 모달 콘텐츠 스타일 */
.positionModal-content, .rejectModal-content, .studyModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative; /* 모달 내부 요소의 position을 상대적으로 설정 */
}
.positionModal-content .title, .rejectModal-content .title, .studyModal-content .title {font-weight: bold; color: #1F1926;}
.positionModal-content .applyPosition, .studyModal-content .applyPosition{margin-top: 20px;}
.positionModal-content .applyForm,.studyModal-content .applyForm{margin-top: 20px;}
.positionModal-content .applyForm textarea, .rejectModal-content .rejectForm textarea, .studyModal-content .applyForm textarea{margin-top: 20px; width: 100%; height: 200px;}
.positionModal-content .applyPosition .title, .haveJob p  {font-weight: 600;}
.positionModal .applyForm .submitBtn,.studyModal-content .applyForm .submitBtn {margin-top: 20px; width: 100%; height: 40px; color:#FF8911;  border: 1px solid #FF8911; border-radius: 5px;}
.rejectModal-content .rejectForm .submitBtn {margin-top: 20px; width: 100%; height: 40px; color:#CC0000;  border: 1px solid #CC0000; border-radius: 5px;}
    /* 닫기 버튼 스타일 */
.close {
    color: #aaaaaa;
    position: absolute; /* 모달 내부의 절대 위치 설정 */
    top: 10px; /* 위쪽 여백 조정 */
    right: 10px; /* 오른쪽 여백 조정 */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.moimTabMenu ul {display: flex; justify-content: space-between;}
.moimTabMenu ul li { width: 150px; height: 60px; }
.moimTabMenu ul li a{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; font-size: 1.2rem; color: #aaa;}

.moimTabMenu ul li:hover,
.moimTabMenu ul li.active {border-bottom: 2px solid #1F1926;}
.moimTabMenu ul li:hover a,
.moimTabMenu ul li.active a {font-weight: 600; color: #1F1926; /* 마우스를 갖다 대었을 때 링크의 글자색 변경 */}
.userProfile {text-align: center; /* 텍스트 가운데 정렬 */}
.userProfile img {
    max-width: 50%; /* 이미지가 부모 요소를 넘어가지 않도록 함 */
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin-top: 10px; /* 이미지 위 여백 추가 */
}