@charset "UTF-8";
main .container {
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto; /* 가운데 정렬을 위해 추가 */
    /*display: flex;*/
    justify-content: space-between;
    background-color: #f2f2f2; /* 배경색 추가 */
    padding: 20px; /* 내부 여백 추가 */
}
.moimHeaderWrap{display: flex; margin-top: 50px;}
.moimThumbnail{width: 45%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px;}
.moimThumbnail img{width: 550px; height: 300px;}
.moimHeaderContents{width: 65%; margin-left: 50px;}
.moimHeaderContents .title{font-weight: bold; color: black;}
.moimHeaderContents > div {margin-bottom: 13px; /* 각 요소 사이에 10px의 아래 여백을 추가합니다. */}
.moimTitle{ display: flex;}
.moimTitle span{margin-top: 13px; margin-left: 10px; text-align: center;}
.moimTitle div{margin-left: 200px;}
.moimTitle div button{outline: none; border: none;}
.moimLanguage .moimLanguageList{ display: flex; align-items: center; height: 50px;}
.moimLanguage .item{text-align: center;  margin-right: 10px; margin-left: 1px;}
.moimLanguage .item img{width: 30px; height: auto;}
/*(위)헤더 ------------ 본문(아래)*/
.moimPageWrap{display: flex; margin-top: 60px;}
.moimDetailContents{width: 75%;}
.moimDetailWrap .detailDesc, .recruitStatus{margin-top: 30px;}
.recruitStatus, .participating  .title{margin-bottom: 30px; color: black;}
.recruitStatus .headcount {display: flex; align-items: center; margin-bottom: 10px; /* 세로 간격 조정 */}
.recruitStatus .participant{margin-left: 200px;}
.recruitStatus .positionDetail{width: 200px; align-items: center;}
.recruitStatus ul{margin-bottom: 30px;}
.recruitStatus .applyBtn .yet{margin-left: 30px; padding:10px; width: 100px; height: 40px; color:#FF8911;  border: 1px solid #FF8911; border-radius: 5px;}
.recruitStatus .applyBtn .done{margin-left: 30px; padding:10px; width: 100px; height: 40px; background-color:#FF8911; color:white;  border: 1px solid #FF8911;; border-radius: 5px;}
.participating .memberWrap{width: 1200px;}
.participating .memberList{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.participating .memberList li{position: relative; display: flex; justify-content: space-between; align-items: center; width: calc(25% - (60px / 4)); border: 1px solid #ccc; border-radius: 10px; margin-right: 20px; margin-bottom: 30px; padding: 20px; overflow: hidden; cursor: pointer;}
.participating .memberList > li:nth-child(4n) { margin-right: 0; }
.participating .memberList > li .thumbnail { width: 25%; }
.participating .memberList .thumbnail img{ width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 100%; overflow: hidden;}
.participating .memberList > li .info{width: 70%; padding-left: 20px; }
.participating .memberList > li .info .nickname{font-weight: 600; font-size: 1.1rem; color: #1F1926;}
.participating .memberList > li .info .introduce{width: 100px;}
.participating .memberList > li .info .level{font-weight: 200; color: #FF8911; font-size: 15px; padding-left: 5px;}
.participating .memberList > li .info .positionDetail{margin-top: 10px;}
.participating .memberList > li .message { width: 25%; text-align: right; cursor: pointer; }
.participating .memberList > li .message i { font-size: 1.5rem; color: #ccc; }
/* 모달 스타일 */
.modal {
    display: none; /* 모달 초기에 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative; /* 모달 내부 요소의 position을 상대적으로 설정 */
}
.modal-content .title{font-weight: bold; color: #1F1926;}
.modal-content .applyPosition{margin-top: 20px;}
.modal-content .applyForm{margin-top: 20px;}
.modal-content .applyForm textarea{margin-top: 20px; width: 100%; height: 200px;}
.modal-content .applyPosition .title, .haveJob p  {font-weight: 600;}
.modal-content .applyForm .submitBtn{margin-top: 20px; width: 100%; height: 40px; color:#FF8911;  border: 1px solid #FF8911; border-radius: 5px;}
    /* 닫기 버튼 스타일 */
.close {
    color: #aaaaaa;
    position: absolute; /* 모달 내부의 절대 위치 설정 */
    top: 10px; /* 위쪽 여백 조정 */
    right: 10px; /* 오른쪽 여백 조정 */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.moimRightInfoContents {
    position: fixed;
    top: 20%;
    left: 73%;
    width: 20%;
    margin-left: 10px;
    padding: 20px; /* 내부 여백 추가 */
    border-radius: 8px; /* 모서리를 둥글게 만듦 */
}
.moimTabMenu ul {display: flex; justify-content: space-between;}
.moimTabMenu ul li { width: 150px; height: 60px; }
.moimTabMenu ul li a{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; font-size: 1.2rem; color: #aaa;}

.moimTabMenu ul li:hover,
.moimTabMenu ul li.active {border-bottom: 2px solid #1F1926;}
.moimTabMenu ul li:hover a,
.moimTabMenu ul li.active a {font-weight: 600; color: #1F1926; /* 마우스를 갖다 대었을 때 링크의 글자색 변경 */}
.userProfile {text-align: center; /* 텍스트 가운데 정렬 */}
.userProfile img {
    max-width: 50%; /* 이미지가 부모 요소를 넘어가지 않도록 함 */
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin-top: 10px; /* 이미지 위 여백 추가 */
}