@charset "UTF-8";

.newMoim {}
.newMoim .content {}

.newMoim .moimNewList { display: flex; justify-content: space-between; }
.newMoim .moimNewList > li { display: flex; justify-content: space-between; align-items: center; width: calc(50% - 15px); border: 1px solid #ccc; border-radius: 10px; padding: 30px; cursor: pointer; }

.newMoim .moimNewList > li .thumbnail { width: 200px; height: 200px; border: 1px solid #ccc; border-radius: 10px; overflow: hidden; }
.newMoim .moimNewList > li .thumbnail img { width: 100%; height: 100%; object-fit: cover; }

.newMoim .moimNewList > li .wrap { width: calc(100% - 230px); }
.newMoim .moimNewList > li .wrap .label { display: flex; align-items: center; }
.newMoim .moimNewList > li .wrap .label .type { margin-right: 10px; }
.newMoim .moimNewList > li .wrap .label .category {}
.newMoim .moimNewList > li .wrap .label .like { margin-left: auto; color: #aaa; }

.newMoim .moimNewList > li .wrap .subject { margin-top: 20px; font-size: 1.3rem; font-weight: 600; color: #1F1926; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.newMoim .moimNewList > li .wrap .shortDesc { margin-top: 10px; font-size: 1.1rem; color: #888; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.newMoim .moimNewList > li .wrap .detailDesc { margin-top: 5px; font-size: .9rem; color: #888; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.newMoim .moimNewList > li .wrap .etc { display: flex; justify-content: space-between; align-items: center; margin-top: 30px; }
.newMoim .moimNewList > li .wrap .etc .language {}
.newMoim .moimNewList > li .wrap .etc .language .languageList { display: flex; align-items: center; height: 50px; }
.newMoim .moimNewList > li .wrap .etc .language .languageList li {}
.newMoim .moimNewList > li .wrap .etc .language .languageList li .item { text-align: center; margin-right: 10px; }
.newMoim .moimNewList > li .wrap .etc .language .languageList li .item img { width: 30px; height: auto; }


.newMoim .moimNewList > li .wrap .etc .headcount { position: relative; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountToggle { display: flex; align-items: center; color: #aaa; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountToggle .toggleName { display: flex; margin-right: 10px; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountToggle .toggleName .totalApproval { position: relative; margin-left: 3px; margin-right: 6px; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountToggle .toggleName .totalApproval:after { position: absolute; top: 0; right: -6px; content: "/"; }

.newMoim .moimNewList > li .wrap .etc .headcount .headcountWrap { position: absolute; top: 130%; right: 0; z-index: 2; display: none; width: 150%; background: #fff; border: 1px solid #ccc; border-radius: 5px; padding: 10px; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountWrap ul {}
.newMoim .moimNewList > li .wrap .etc .headcount .headcountWrap ul li { display: flex; justify-content: space-between; align-items: center; font-size: .9rem; color: #888; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountWrap ul li .positionDetail {}
.newMoim .moimNewList > li .wrap .etc .headcount .headcountWrap ul li .participant { display: flex; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountWrap ul li .participant .approval { position: relative; margin-right: 6px; }
.newMoim .moimNewList > li .wrap .etc .headcount .headcountWrap ul li .participant .approval:after { position: absolute; top: 0; right: -6px; content: "/"; }

.newMoim .moimNewList > li .wrap .etc .headcount .headcountToggle:hover + .headcountWrap { display: block; }