<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/detail.css}">
</th:block>
<th:block layout:fragment="js">
    <script th:inline="javascript">
        $(() => {
            function commonAjax(url, parameter, type, callback, contentType) { //ajax처리 공용함수
                $.ajax({
                    url: url,
                    data: parameter,
                    dataType : 'json',
                    type: type,
                    contentType: contentType != null ? contentType : 'application/x-www-form-urlencoded;charset=UTF-8',
                    success: function (res) {
                        callback(res);
                    },
                    error: function (err) {
                        callback(err);
                    }
                });
            }

            let btnViewComments = $(".btnViewComments"); //답글 보기 버튼

            btnViewComments.on("click", function () { //답글 보기
                let _this = $(this);

                // 현재 클릭된 버튼에 가장 가까운 부모 중에서 가장 가까운 .commentWrap을 선택
                let closestCommentWrap = $(this).closest(".commentWrap");
                // let recommentWrapNo = closestCommentWrap.closest(".recommentWrap");

                let replyNo = closestCommentWrap.data("no");
                console.log("(부모)고유댓글번호: " + replyNo);
                let dataType = {replyNo : replyNo};
                commonAjax("/board/getChild",dataType,"get",function (result){
                   viewRecomment(result);
                });
                function viewRecomment(res) {
                    // 부모 요소를 찾아서 그 다음에 추가할 것이므로 부모 요소를 미리 선택합니다
                    let parentElement = _this.parents(".commentWrap");

                    // recommentWrap이 이미 존재하는지 확인합니다
                    let recommentWrap = parentElement.next(".recommentWrap");
                    if (!recommentWrap.length) {
                        // recommentWrap이 없는 경우, 새로운 요소를 생성합니다
                        parentElement.after("<div class=\"recommentWrap\"></div>");
                        // 다시 생성된 recommentWrap을 선택합니다
                        recommentWrap = parentElement.next(".recommentWrap");
                    } else {
                        // 이미 recommentWrap이 있는 경우, 중복 생성을 막기 위해 함수를 종료합니다.
                        return;
                    }

                    // depth에 따라 데이터를 정렬합니다
                    res.sort((a, b) => a.depth - b.depth);

                    res.forEach(function (obj) {
                        obj.children.forEach(function (child) {
                            console.log(child);
                            // 날짜 문자열을 Date 객체로 변환
                            let date = new Date(child.regdate);
                            // 각 부분의 값 추출
                            let year = date.getFullYear();
                            let month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1 필요
                            let day = String(date.getDate()).padStart(2, '0');
                            let hours = String(date.getHours()).padStart(2, '0');
                            let minutes = String(date.getMinutes()).padStart(2, '0');
                            // 원하는 형식으로 조합
                            let formattedDate = year + '년 ' + month + '월 ' + day + '일 ' + hours + ':' + minutes;
                            let childImg = child.users.userDetail.profileImg ;

                            let tag = "<div class=\"recommentWrap\" data-no=\"" + child.replyNo + "\">\n" +
                                "    <div class=\"commentsHeader\">\n" +
                                "        <a href=\"/user/detail?no=" + child.users.userNo + "\">\n" +
                                "            <div class=\"writerProfile\">\n";
                                if(childImg != null ) {
                                    tag += " <img src=\"" +child.users.userDetail.profileImg +"\" alt=\"\">\n";
                                } else {
                                    tag += " <img src=\"/images/profileBlank.png\" alt=\"\">\n" ;
                                }
                                tag +=  "            </div>\n" +
                                    "            <p class=\"writerName\">" + child.users.nickname + "</p>\n" +
                                    "        </a>\n" +
                                    "        <p class=\"commentRegdate\"> " + formattedDate + "</p>\n" +
                                    "    </div>\n" +
                                    "    <div class=\"commentsBody\">"+child.contents+"</div>\n" +
                                    "</div>\n";

                            // 생성된 recommentWrap에 답글을 추가합니다
                            recommentWrap.append(tag);
                        });
                    });
                    if(recommentWrap.length > 0 ){
                        return false;
                    }
                }
            });

            $(".btnPlusComments").on("click", function () {
                console.log("답글 달기 버튼");
                let closestCommentWrap = $(this).closest(".commentWrap");
                console.log(closestCommentWrap.data("no"));
                let closestRecommentForm = closestCommentWrap.find(".recommentForm");
                closestRecommentForm.toggle();
            });

            $(".replyWrite").on("click", function () {
                console.log("댓글 작성 버튼");
                let reply = $.trim($("#reply").val());
                if (reply === "") {
                    alert("댓글을 작성해주세요.");
                    return false;
                }
            })
            $(".deleteBoard").on("click", function (){
                console.log("test");
                let confirmDelete = confirm("정말로 삭제하시겠습니까?");
                if (confirmDelete){
                    return true;
                } else {
                    return false;
                }
            })
        });
    </script>
</th:block>
<th:block layout:fragment="container">
    <main>
        <div class="container">
            <div class="board">
                <div class="content">
                    <div class="mainTitle">
                        <div class="title">
                            <p class="subject">[[${boardDetail.board.title}]]</p>
                            <p class="boardDetailInfo">
                                <span>작성일: [[${#dates.format(boardDetail.board.regdate, 'yyyy년 MM월 dd일 HH:mm')}]] </span>
                                <span>조회수: [[${boardDetail.board.hits}]]</span>
                                <th:block th:if="${sameUser}">
                                    <span class="wrapModify">
                                        <a th:href="@{/board/modify(boardNo=${boardDetail.board.boardNo})}">수정</a>
                                        <a th:href="@{/board/delete(boardNo=${boardDetail.board.boardNo})}" class="deleteBoard">삭제</a>
                                    </span>
                                </th:block>
                            </p>
                        </div>
                    </div>
                    <div class="wrapContents">
                        <div class="cate">
                                <span>
                                    <th:block th:if="${boardDetail.board.cate == 1}">카테고리 : 자유</th:block>
                                    <th:block th:if="${boardDetail.board.cate == 2}">카테고리 : 개발Q&A</th:block>
                                </span>
                        </div>
                        <div class="desc">
                            <th:block th:utext="${boardDetail.board.contents}"></th:block>
                        </div>
                    </div>
                </div>
                <br>
                <div class="wrapReply">
                    <div class="title">
                        <p>댓글</p>
                    </div>
                    <div class="reply">
                        <form action="/board/replyWrite" method="post" class="replyForm">
                            <input type="hidden" name="boardNo" th:value="${boardDetail.board.boardNo}">
                            <input type="hidden" name="userNo" th:value="${boardDetail.board.users.userNo}">
                            <textarea name="contents" id="reply" placeholder="댓글을 작성해주세요."></textarea>
                            <input type="submit" value="작성" class="btn btn-custom-add replyWrite">
                        </form>
                    </div>
                    <div class="commentsContainer">
                        <th:block th:each="reply : ${replyList}" th:if="${reply.parentReply == null}">
                            <div class="commentWrap" th:data-no="${reply.replyNo}">
                                <div class="commentsHeader">
                                    <a th:href="@{/user/detail(no=${reply.users.userNo})}">
                                        <div class="writerProfile">
                                            <img th:if="${reply.users.userDetail.profileImg != null}" th:src="${reply.users.userDetail.profileImg}" alt="">
                                            <img th:if="${reply.users.userDetail.profileImg == null}" src="/images/profileBlank.png" alt="">
                                        </div>
                                        <p class="writerName">[[${reply.users.nickname}]]</p>
                                    </a>
                                    <p class="commentRegdate">[[${#dates.format(reply.regdate, 'yyyy년 MM월 dd일
                                        HH:mm')}]]</p>
                                </div>
                                <!-- 댓글을 화면에 출력할 때 줄바꿈 문자를 <br> 태그로 변환 -->
                                <div class="commentsBody"
                                     th:utext="${#strings.replace(reply.contents, nlString, '&lt;br /&gt;')}"></div>
                                <div class="commentsBottom">
                                    <th:block th:if="${not reply.getChildren().isEmpty()}">
                                        <button type="button" class="btn btn-outline-secondary btnViewComments">
                                            <i class="bi bi-chevron-down"></i>
                                            <span>답글 보기</span>
                                        </button>
                                    </th:block>
                                    <button type="button" class="btn btn-outline-secondary btnPlusComments">
                                        <span>답글 달기</span>
                                    </button>
                                </div>
                                <div class="recommentWrite">
                                    <form action="/board/writeChildReply" method="post" class="recommentForm">
                                        <input type="hidden" name="boardNo" th:value="${boardDetail.board.boardNo}">
                                        <input type="hidden" name="userNo" th:value="${boardDetail.board.users.userNo}">
                                        <input type="hidden" name="replyNo" th:value="${reply.replyNo}">
                                        <textarea id="recomment" name="contents" placeholder="답글을 작성해주세요."></textarea>
                                        <input type="submit" value="작성" class="btn btn-custom-add recommentBtn">
                                    </form>
                                </div>
                            </div>
                        </th:block>
                        <!--원래 childReply 있던 자리 -->
                    </div>
                </div>
            </div>
            <aside class="detailSidebar">
                <a th:href="@{/user/detail(no=${boardDetail.board.users.userNo})}">
                    <div class="userProfile">
                        <p>[[${boardDetail.board.users.nickname}]]</p>
                        <img th:if="${boardDetail.board.users.userDetail.profileImg != null}" th:src="${boardDetail.board.users.userDetail.profileImg}" alt="">
                        <img th:if="${boardDetail.board.users.userDetail.profileImg == null}" src="/images/profileBlank.png" alt="">
                    </div>
                </a>
            </aside>
        </div>
    </main>
</th:block>
</html>