<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/list.css}">
</th:block>
<th:block layout:fragment="js">
    <script>
        $(() => {
            $(".wrap").on("click", function () {
                // Get the data-no attribute directly from the clicked ".wrap" element
                let dataNo = $(this).data("no");
                let hits = $(this).data("hits");
                $.ajax({ //클릭시 조회수 증가
                    type: "post",
                    url : "/board/plusHits",
                    data : {boardNo : dataNo},
                    success : function (data){
                        window.location.href = "/board/detail?boardNo=" + dataNo;
                    }
                })

            });


            $(".wrap").on("mouseover", function () {
                // Change cursor to pointer for the hovered ".wrap" element
                $(this).css("cursor", "pointer");
            });

            $("#searchButton").on("click", function (){ //검색창 공백이 알림, 폼제출 방지
                let keyword = $("#keyword").val().trim();
                if (keyword === "") {
                    alert("검색어를 입력해주세요.");
                    return false;
                }
            });
        });
    </script>
</th:block>

<th:block layout:fragment="container">
    <main>
        <div class="container">
            <div class="wrapperWeekBest">
                <div class="mainTitle">
                    <div class="title">
                        <p class="subject">주간 인기 게시물</p>
                    </div>
                </div>
                <div class="content">
                    <div class="wrap" th:data-no="${boardBest.board.boardNo}">
                        <div class="cate">
                            <span>
                                <th:block th:if="${boardBest.board.cate == 1}">자유</th:block>
                                <th:block th:if="${boardBest.board.cate == 2}">개발Q&A</th:block>
                            </span>
                        </div>
                        <p class="subject">[[${boardBest.board.title}]]</p> <br>
                        <p class="boardDesc">
                            [[${boardBest.board.contents}]] <br> <br>
                            조회수 : [[${boardBest.board.hits}]]
                        </p>
                    </div>
                </div>
            </div>
            <div class="wrapperAll">
                <div class="searchContainer">
                    <div class="mainTitle">
                        <div class="title">
                            <p class="subject">커뮤니티</p>
                        </div>

                    </div>
                    <div class="search">
                        <div class="selectCategory">
                            <a href="/board/">전체</a>
                            <a href="/board/?cate=1">자유게시판</a>
                            <a href="/board/?cate=2">개발Q&A</a>
                        </div>
                        <form action="/board/" name="searchForm" class="searchForm">
                            <select name="searchType">
                                <option value="title">제목</option>
                                <option value="contents">내용</option>
                            </select>
                            <input type="text" name="keyword" id="keyword">
                            <input type="submit" id="searchButton" value="검색">
                        </form>
                        <a class="btn btn-custom-add" href="/board/write">글쓰기</a>
                    </div>
                </div>
                <div class="allContents">
                    <ul>
                        <li th:each="data : ${boardList.dataList}">
                            <div class="wrap" th:data-no="${data.boardNo}">
                                <div class="cate">
                                    <span>
                                        <th:block th:if="${data.cate == 1}">자유</th:block>
                                        <th:block th:if="${data.cate == 2}">개발Q&A</th:block>
                                    </span>
                                </div>
                                <p class="subject">[[${data.title}]]</p> <br>
                                <div class="boardDesc">
                                    <th:block th:utext="${data.contents}"></th:block>
                                </div>
                                <div class="etc">
                                    <img th:src="${data.users.userDetail.profileImg}" alt="">
                                    <p>[[${data.users.nickname}]]</p>
                                    <span>조회수 : [[${data.hits}]]</span>
                                    <span>작성일 : [[${#dates.format(data.regdate, 'yyyy년 MM월 dd일 HH:mm:ss')}]]</span>
                                </div>
                            </div>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <th:block th:if="${boardList.prev}">
                        <li class="page-item"><a class="page-link" th:href="@{/board/(page=${boardList.start-1}, scale=${boardList.scale})}">이전</a></li>
                    </th:block>
                    <th:block th:each="i : ${#numbers.sequence(boardList.start, boardList.end)}">
                        <th:block th:if="${param.cate == null && param.keyword==null}">
                            <li class="page-item"><a class="page-link" th:href="@{/board/(page=${i},scale=${boardList.scale})}">[[${i}]]</a></li>
                        </th:block>
                        <th:block th:if="${param.cate != null}">
                            <li class="page-item"><a class="page-link" th:href="@{/board/(page=${i},scale=${boardList.scale},cate=${boardList.dataList[i].cate})}">[[${i}]]</a></li>
                        </th:block>
                        <th:block th:if="${param.keyword != null}">
                            <li class="page-item"><a class="page-link" th:href="@{/board/(page=${i},scale=${boardList.scale},searchType=${param.searchType},keyword=${param.keyword})}">[[${i}]]</a></li>
                        </th:block>
                    </th:block>
                    <th:block th:if="${boardList.next}">
                         <li class="page-item"><a class="page-link" th:href="@{/board/(page=${boardList.end+1},scale=${boardList.scale})}">다음</a></li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </main>
</th:block>

</html>