<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cafe_write</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function DaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = '';
                    var extraAddr = '';

                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }

                    if(data.userSelectedType === 'R'){
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        document.getElementById("addr_detail").value = extraAddr;

                    } else {
                        document.getElementById("addr_detail").value = '';
                    }
                    document.getElementById('post').value = data.zonecode;
                    document.getElementById("addr").value = addr;
                    document.getElementById("addr_detail").focus();
                }
            }).open();
        }
    </script>
</head>
<body>
    <div>
        <h2>카페 등록</h2>
        <form action="/study/cafe_write" method="post"></form>
        카페 이름<input type="text" name="name" id="name">
        카페 설명<input type="text" name="shortDesc" id="shortDesc">
        <div class="">
            <div class="">
                <input type="text" name="post" id="post" placeholder="우편번호" readonly onclick="DaumPostcode();" />
            </div>
            <div class="">
                <button type="button" onclick="DaumPostcode();">우편번호 찾기</button>
            </div>
        </div>
        <div class="">
            <div class="">
                <input type="text" name="addr" id="addr" placeholder="주소" readonly onclick="DaumPostcode();" />
            </div>
        </div>
        <div class="">
            <div class="">
                <input type="text" name="addr_detail" id="addr_detail" placeholder="상세주소" />
            </div>
        </div>
        <input type="submit" value="등록">
        </form>
    </div>
</body>
</html>