<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <style>
        img{
            width: 500px;
            height: 300px;
            display: inline-block;
        }
    </style>
</th:block>
<th:block layout:fragment="js">

</th:block>

<th:block layout:fragment="container">
    <main>
        <div class="container">
            <h2>카페 리스트</h2>
            <div><a th:href="@{/study/cafe_write}">스터디 카페 등록</a></div>
            <div th:each="dto:${listCafe}">
                <a th:href="@{/study/room_list(studycafeNo=${dto.studycafeNo})}"><img th:src="${dto.mainImg}"></a>
                <p th:text="${dto.name}"></p>
            </div>
        </div>
    </main>
</th:block>

</html>