<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>room_write</title>
</head>
<body>
<div>
    <h2>룸 수정</h2>
    <form action="/study/room_modify" method="post">
        룸 이름<input type="text" name="name" id="name" th:value="${oneRoom.name}">
        룸 금액<input type="text" name="price" id="price" th:value="${oneRoom.price}">
        최대 정원<input type="text" name="maxNum" id="maxNum" th:value="${oneRoom.studyroomDetail.maxNum}">
        빔프로젝트<input type="radio" name="beam" id="beamY">Y
        <input type="radio" name="beam" id="beamN">N
        화이트보드<input type="radio" name="wboard" id="wboardY">Y
        <input type="radio" name="wboard" id="wboardN">N
        콘센트<input type="radio" name="socket" id="socketY">Y
        <input type="radio" name="socket" id="socketN">
        <input type="submit" value="등록">
    </form>
</div>
</body>
</html>