<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <header>
        <div class="container">
            <h1 class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="">
                </a>
            </h1>

            <div class="gnb">
                <ul>
                    <li><a href="">모임</a></li>
                    <li><a href="">팀원찾기</a></li>
                    <li><a href="">커뮤니티</a></li>
                </ul>
            </div>
        </div>
    </header>
</th:block>

</html>

