<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="moimList">
    <ul class="moimList" th:unless="${templateData==null}">
        <li th:each="data : ${templateData}" th:data-no="${data.moimNo}">
            <div class="category">
                <span class="badge badge-size-sm badge-category" th:if="${data.moimDetail.category!=null}">[[${data.moimDetail.category.categoryName}]]</span>
                <span class="badge badge-size-sm badge-category" th:if="${data.moimDetail.studyCategory!=null}">[[${data.moimDetail.studyCategory.studyCategoryName}]]</span>
            </div>
            <div class="thumbnail">
                <img th:if="${data.moimDetail.moimImg==null}" src="/images/moimBlank.png" alt="">
                <img th:if="${data.moimDetail.moimImg!=null}" th:src="${data.moimDetail.moimImg}" alt="">
            </div>
            <div class="wrap">
                <div class="etc">
                    <div class="type">
                        <span class="badge badge-size-sm badge-project" th:if="${data.type eq 'project'}">프로젝트</span>
                        <span class="badge badge-size-sm badge-study" th:if="${data.type eq 'study'}">스터디</span>
                    </div>
                    <div class="like">
                        <i class="bi bi-heart"></i>
                        <span>[[${data.likeList.size()}]]</span>
                    </div>
                </div>
                <p class="subject">[[${data.subject}]]</p>
                <p class="desc">[[${data.shortDesc}]]</p>
                <div class="language">
                    <ul class="languageList">
                        <li th:each="language : ${data.languageList}">
                            <div class="item" th:if="${language.path==null}">
                                <span class="badge rounded-pill text-bg-secondary">[[${language.name}]]</span>
                            </div>
                            <div class="item" th:if="${language.path!=null}">
                                <img th:src="${language.path}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="headcount">
                    <div class="headcountToggle">
                        <div class="toggleName">
                            <span>모집 인원</span>
                            <span class="totalApproval">[[${#aggregates.sum(data.headcountList.![participantApprovalList.size()])}]]</span>
                            <span class="totalPersonnel">[[${#aggregates.sum(data.headcountList.![personnel])}]]</span>
                        </div>
                        <div class="toggleIcon">
                            <i class="bi bi-chevron-down"></i>
                        </div>
                    </div>
                    <div class="headcountWrap">
                        <ul>
                            <li th:each="headcount : ${data.headcountList}">
                                <div class="positionDetail">
                                    <p th:if="${headcount.positionDetail}">[[${headcount.positionDetail.middleName}]]</p>
                                    <p th:unless="${headcount.positionDetail}">누구나 가능</p>
                                </div>
                                <div class="participant">
                                    <div class="approval">[[${headcount.participantApprovalList.size()}]]</div>
                                    <div class="personnel">[[${headcount.personnel}]]</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <th:block class="moimList" th:if="${templateData==null}">
        <li data-no="">
            <div class="category">
                <span class="badge badge-size-sm badge-category"></span>
            </div>
            <div class="thumbnail">
                <img src="" alt="">
            </div>
            <div class="wrap">
                <div class="etc">
                    <div class="type">
                        <span class="badge badge-size-sm"></span>
                    </div>
                    <div class="like">
                        <i class="bi bi-heart"></i>
                        <span></span>
                    </div>
                </div>
                <p class="subject"></p>
                <p class="desc"></p>
                <div class="language">
                    <ul class="languageList">
                        <li>
                            <div class="item"></div>
                        </li>
                    </ul>
                </div>
                <div class="headcount">
                    <div class="headcountToggle">
                        <div class="toggleName">
                            <span>모집 인원</span>
                            <span class="totalApproval"></span>
                            <span class="totalPersonnel"></span>
                        </div>
                        <div class="toggleIcon">
                            <i class="bi bi-chevron-down"></i>
                        </div>
                    </div>
                    <div class="headcountWrap">
                        <ul>
                            <li>
                                <div class="positionDetail">
                                    <p></p>
                                </div>
                                <div class="participant">
                                    <div class="approval"></div>
                                    <div class="personnel"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </th:block>
</th:block>

</html>

