<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="moimStudyTemplate">
    <section class="subject">
        <div class="mainTitle">
            <div class="title">
                <p class="subject">주제</p>
                <p class="desc">원하는 스터디&네트워킹 주제를 적어주세요.</p>
            </div>
        </div>
        <div class="content">
            <input type="text" name="subject" placeholder="3~20글자로 적어주세요 예)블록체인 + 인공지능 스터디&네트워킹">
        </div>
    </section>
    <section class="shortDesc">
        <div class="mainTitle">
            <div class="title">
                <p class="subject">간단한 설명</p>
                <p class="desc">스터디에 대해 간단하게 설명해주세요.</p>
            </div>
        </div>
        <div class="content">
            <input type="text" name="shortDesc" placeholder="간단한 설명을 30 글자 이내로 적어주세요 에)승차거부하는 택시를 신고하는 앱입니다.">
        </div>
    </section>
    <section class="moimImg">
        <div class="mainTitle">
            <div class="title">
                <p class="subject">스터디 대표 이미지</p>
                <p class="desc">스터디를 알아볼 수 있는 이미지를 업로드 해주세요.</p>
            </div>
        </div>
        <div class="content">
            <div class="thumbnail">
                <button type="button" id="moimImg-thumbnail-btn" onclick="moimImgUploadTrigger()"></button>
                <i class="bi bi-camera"></i>
            </div>
            <div class="wrap">
                <input type="file" name="moimImg">
                <button type="button" onclick="moimImgUploadTrigger();">이미지 업로드</button>
                <p>- 가로/세로의 비율이 3:2일 때 썸네일이 가장 예쁩니다.</p>
                <p>- 저작권에 위배되지 않는 파일만 업로드해주세요.</p>
            </div>
        </div>
    </section>
    <section class="category category-study">
        <div class="mainTitle">
            <div class="title">
                <p class="subject">분야/키워드</p>
                <p class="desc">스터디&네트워킹의 키워드를 입력해주세요. (최대 10개)</p>
            </div>
        </div>
        <div class="content">
            <div class="rowItem">
                <div class="itemWrap">
                    <select name="studyCategoryNo">
                        <option th:each="studyCategory : ${studyCategoryList}" th:value="${studyCategory.studyCategoryNo}">[[${studyCategory.studyCategoryName}]]</option>
                    </select>
                </div>
                <div class="itemWrap">
                    <select name="language" multiple></select>
                </div>
            </div>
        </div>
    </section>
    <section class="online">
        <div class="mainTitle">
            <div class="title">
                <p class="subject">지역</p>
                <p class="desc">온/오프라인 여부와 장소를 선택해주세요.</p>
            </div>
        </div>
        <div class="content">
            <div class="rowItem">
                <div class="itemWrap">
                    <select name="onlineNo">
                        <option th:each="online : ${onlineList}" th:value="${online.onlineNo}">[[${online.onlineName}]]</option>
                    </select>
                </div>
                <div class="itemWrap">
                    <input type="text" name="offAddr" placeholder="상세한 지역을 입력해주세요.">
                </div>
            </div>
        </div>
    </section>
    <section class="fee">
        <div class="mainTitle">
            <div class="title">
                <p class="subject">오프라인 참가비용</p>
                <p class="desc">오프라인 모임시 발생할 수 금액을 입력해주세요.</p>
            </div>
        </div>
        <div class="content">
            <input type="text" name="fee" placeholder="금액을 입력해주세요.">
        </div>
    </section>
    <section class="headcount">
        <div class="mainTitle">
            <div class="title">
                <div class="subject">
                    <span>모집인원</span>
                    <span>
                        <input type="checkbox" name="everyone" id="everyone" value="1">
                        <label for="everyone">직무구분 없음</label>
                    </span>
                </div>
                <p class="desc">3~4명을 추천합니다. (최대 9명, 추후변경가능)</p>
            </div>
            <div class="etc">
                <button type="button" class="btn btn-secondary" onclick="positionAddToDrop('drop')">제거</button>
                <button type="button" class="btn btn-custom-add" onclick="positionAddToDrop('add');">추가</button>
            </div>
        </div>
        <div class="content">
            <div class="colItem">
                <div class="itemWrap position">
                    <input type="hidden" name="headcountNo">
                    <select name="positionNo">
                        <option th:each="position : ${positionList}" th:value="${position.positionNo}">[[${position.bigName}]]</option>
                    </select>
                    <select name="positionDetailNo"></select>
                </div>
                <div class="itemWrap personnel">
                    <button type="button" onclick="personnelControl(this, 'minus');">
                        <i class="bi bi-dash-lg"></i>
                    </button>
                    <input type="text" name="personnel" value="1" readonly>
                    <button type="button" onclick="personnelControl(this, 'plus');">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="detailDesc">
        <div class="mainTitle">
            <div class="title">
                <p class="subject">스터디&네트워킹 설명</p>
                <p class="desc">스터디&네트워킹 참여조건에 대해서 기재해주세요.</p>
            </div>
        </div>
        <div class="content">
            <input type="hidden" name="detailDesc">
            <div id="detailDesc"></div>
        </div>
    </section>


    <template id="detailDescContent">
# 스터디/네트워킹 목표 및 진행방식
[목표] : ( 예: 제이쿼리를 마스터하고자 합니다)
[진행방식] : (예: 매주마다 다음주의 목표를 설정하고, 이에 대한 공부 후 실제 프로토타입)
[장소/횟수] : (예: 정기적으로 오프라인 주말 1회 혹은 zoom 1회 토론 등)
[기간] :  (예 : 3달 정도 진행하고자 합니다)

# 참여 조건
[지식수준] :  (예 :해당 언어에 대한 지식이 조금 있으셨으면 합니다. )
[참여회비] (예 : 매 모임마다 1만원의 회비가 있습니다)
[기타]  ( 예: 인천 거주하시는 분이시면 더욱 좋겠습니다)
    </template>
</th:block>

</html>