<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Register</title>
</head>
<body>
<h2>직원 회원가입</h2>
<form action="/admin/login/register" method="post">
    <label for="id">아이디:</label>
    <input type="text" id="id" name="id" required>
    <br>
    <label for="pw">비밀번호:</label>
    <input type="password" id="pw" name="pw" required>
    <br>
    <label for="name">이름:</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="phone">전화번호:</label>
    <input type="text" id="phone" name="phone">
    <br>
    <label for="post">우편번호:</label>
    <input type="text" id="post" name="post">
    <br>
    <label for="addr">주소:</label>
    <input type="text" id="addr" name="addr">
    <br>
    <button type="submit">회원가입</button>
</form>
</body>
</html>