@charset "UTF-8";

.mainSlider { width: 100%; position: relative; overflow: hidden; }
.mainSlider .swiper-wrapper {}
.mainSlider .swiper-wrapper .swiper-slide { position: relative; }
.mainSlider .swiper-wrapper .swiper-slide img { width: 100%; height: 25vw; object-fit: cover; }
.mainSlider .swiper-wrapper .swiper-slide a { position: absolute; top: 65%; left: 23%; display: flex; justify-content: center; align-items: center; width: 15vw; height: 3vw; padding: 0; font-size: 1.2vw; }

.weekBest {}
.weekBest .content {}
.weekBest .content .moimList {  }
.weekBest .content .moimList > li {  }

/* 새로합류한 팀원 */
.newUser {}
.newUser .content {}
.newUser .content .userList { display: flex; justify-content: flex-start; flex-wrap: wrap; }
.newUser .content .userList > li { position: relative; display: flex; justify-content: space-between; align-items: center; width: calc(25% - (60px / 4)); border: 1px solid #ccc; border-radius: 10px; margin-right: 20px; margin-bottom: 30px; padding: 30px; overflow: hidden; cursor: pointer; }
.newUser .content .userList > li:nth-child(4n) { margin-right: 0; }

.newUser .content .userList > li .thumbnail { width: 25%; }
.newUser .content .userList > li .thumbnail img { width: 60px; height: 60px; border: 1px solid #ccc; border-radius: 100%; overflow: hidden; object-fit: cover; }

.newUser .content .userList > li .wrap { width: 50%; padding-left: 20px; }
.newUser .content .userList > li .wrap .nickname { font-weight: 600; font-size: 1.1rem; color: #1F1926; }
.newUser .content .userList > li .wrap .nickname .level { font-weight: 300; font-size: .9rem; color: #FF8911; }
.newUser .content .userList > li .wrap .positionDetail { font-size: .9rem; color: #aaa; }

.newUser .content .userList > li .message { width: 25%; text-align: right; cursor: pointer; }
.newUser .content .userList > li .message i { font-size: 1.5rem; color: #ccc; }