@charset "UTF-8";

/* Header */
header { display: flex; align-items: center; border-bottom: 1px solid #ccc; height: 80px; }
header .container { display: flex; justify-content: flex-start; align-items: center; }

header .container .logo a { display: flex; }
header .container .logo img { width: 150px; height: auto; }

header .container .gnb { margin-left: 100px; }
header .container .gnb ul { display: flex; }
header .container .gnb ul li { margin-right: 30px; padding: 0 10px; }
header .container .gnb ul li a { font-weight: 600; font-size: 1.3rem; color: #382B47; }

header .container .write { margin-left: auto; }
header .container .write a { display: flex; justify-content: center; align-items: center; height: 40px; background: #382B47; border-radius: 5px; padding: 0 20px; font-size: .9rem; color: #fff; }

header .container .etc { display: flex; align-items: center; margin-left: 30px; }

header .container .etc .headerAlram {}
header .container .etc .headerAlram .alramToggle { font-size: 1.4rem; color: #382B47; }

header .container .etc .headerUser { position: relative; margin-left: 20px; }
header .container .etc .headerUser .userToggle { font-size: 1.6rem; color: #382B47; cursor: pointer; }

header .container .etc .headerUser .userModal {}
header .container .etc .headerUser .userModal .modalTitle { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
header .container .etc .headerUser .userModal .modalTitle .titleName { font-weight: 600; font-size: 1.2rem; }
header .container .etc .headerUser .userModal .modalTitle .titleEtc {}
header .container .etc .headerUser .userModal .modalTitle .titleEtc .modalClose { background: #fff; border: none; }

header .container .etc .headerUser .userModal .modalLogout { display: none; position: fixed; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; }
header .container .etc .headerUser.active .userModal .modalLogout { display: block; }
header .container .etc .headerUser .userModal .modalLogout .modalBackground { width: 100%; height: 100%; background: rgba(0, 0, 0, .4); }
header .container .etc .headerUser .userModal .modalLogout .modalWrap { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; width: 400px; background: #fff; padding: 20px; border-radius: 10px; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent {}
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .basic {}
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .basic div { margin-top: 10px; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .basic div input { width: 100%; height: 40px; padding-left: 10px; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .basic .submit {}
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .basic .submit button { width: 100%; height: 50px; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 { margin-top: 20px; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn { position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 40px; border-radius: 5px; margin-top: 10px; font-size: .8rem; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn:after { position: absolute; top: 50%; left: 10px; transform: translateY(-50%); width: 30px; height: 30px; background-size: cover; content: ""; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn.google { background: #fff; border: 1px solid #888; color: #444; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn.naver { background: #1eb400; color: #fff; }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn.kakao { background: #f7e317; color: #3e201e; }

header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn.google:after { background-image: url("/images/googleIcon.png"); }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn.naver:after { left: 15px; width: 20px; height: 20px; background-image: url("/images/naverIcon.png"); }
header .container .etc .headerUser .userModal .modalLogout .modalWrap .modalContent .oauth2 .loginBtn.kakao:after { background-image: url("/images/kakaoIcon.png"); }


header .container .etc .headerUser .userModal .modalLogin { display: none; position: absolute; top: 40px; right: 0; z-index: 2; width: 300px; background: #fff; box-shadow: 0 1px 5px #ccc; border-radius: 10px; padding: 20px; }
header .container .etc .headerUser.active .userModal .modalLogin { display: block; }
header .container .etc .headerUser .userModal .modalLogin .loginInfo { display: flex; justify-content: space-between; align-items: center; }
header .container .etc .headerUser .userModal .modalLogin .loginInfo .infoThumbnail { width: 80px; height: 80px; border: 1px solid #ccc; border-radius: 100%; overflow: hidden; }
header .container .etc .headerUser .userModal .modalLogin .loginInfo .infoThumbnail img { width: 100%; height: 100%; object-fit: cover; }
header .container .etc .headerUser .userModal .modalLogin .loginInfo .infoData { width: calc(100% - 100px); }
header .container .etc .headerUser .userModal .modalLogin .loginInfo .infoData .logout {}
header .container .etc .headerUser .userModal .modalLogin .loginInfo .infoData .logout a { display: inline-block; background: #e0e0e0; border-radius: 15px; padding: 1px 10px; font-size: .7rem; color: #888; }
header .container .etc .headerUser .userModal .modalLogin .loginInfo .infoData .nickname { margin-top: 15px; font-weight: 600; font-size: .9rem; }
header .container .etc .headerUser .userModal .modalLogin .loginInfo .infoData .position { font-size: .8rem; }

header .container .etc .headerUser .userModal .modalLogin .loginMenu { margin-top: 20px; }
header .container .etc .headerUser .userModal .modalLogin .loginMenu ul { display: flex; border: 1px solid #e0e0e0; border-radius: 5px; }
header .container .etc .headerUser .userModal .modalLogin .loginMenu ul li { display: flex; width: 33.33333%; }
header .container .etc .headerUser .userModal .modalLogin .loginMenu ul li a { display: flex; justify-content: center; align-items: center; width: 100%; height: 40px; font-size: .8rem; }
header .container .etc .headerUser .userModal .modalLogin .loginMenu ul li a:hover { font-weight: 600; color: #7B27FF; }

/* Main */
main { padding-bottom: 50px; }

/* Footer */
footer { display: flex; align-items: center; height: 80px; background: #382B47; }
footer .container {}
footer .container p { font-weight: 300; color: #fff; }

/* Container */
.container { width: 1440px; max-width: 1440px; margin: 0 auto; }
.container .wrapper { margin-top: 50px; padding: 10px 0; }

/* 공통 타이틀 클래스 */
.mainTitle { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.mainTitle .title {}
.mainTitle .title .subject { margin-bottom: 10px; font-weight: 600; font-size: 1.4rem; color: #1F1926; }
.mainTitle .title .desc { color: #aaa; }
.mainTitle .etc {}
.mainTitle .etc .more { font-size: .9rem; color: #888; }

/* 공통 모임 리스트 */
.moimList { display: flex; justify-content: flex-start; flex-wrap: wrap; }
.moimList > li { position: relative; width: calc(25% - (60px / 4)); border: 1px solid #ccc; border-radius: 10px; margin-right: 20px; margin-bottom: 30px; cursor: pointer; }
.moimList > li:nth-child(4n) { margin-right: 0; }

.moimList > li .category { position: absolute; top: 10px; left: 10px; opacity: .7; }
.moimList > li .category span { font-size: .8rem; font-weight: 400; }

.moimList > li .thumbnail { width: 100%; height: 150px; border-radius: 10px; overflow: hidden; }
.moimList > li .thumbnail img { width: 100%; height: 100%; object-fit: cover; }

.moimList > li .wrap { padding: 20px; }
.moimList > li .wrap .etc { display: flex; justify-content: space-between; align-items: center; }
.moimList > li .wrap .etc .like { display: flex; align-items: center; color: #888; }
.moimList > li .wrap .etc .like span { margin-left: 5px; margin-top: -3px; }

.moimList > li .wrap .subject { margin-top: 10px; font-weight: 600; font-size: 1rem; color: #1F1926; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.moimList > li .wrap .desc { margin-top: 5px; font-size: .8rem; color: #888; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.moimList > li .wrap .language { margin-top: 10px; }
.moimList > li .wrap .language .languageList { display: flex; align-items: center; height: 50px; }
.moimList > li .wrap .language .languageList li {}
.moimList > li .wrap .language .languageList li .item { text-align: center; margin-right: 10px; }
.moimList > li .wrap .language .languageList li .item img { width: 25px; height: auto; }

.moimList > li .wrap .headcount { position: relative; border-top: 1px solid #e0e0e0; margin-top: 5px; padding-top: 15px; }
.moimList > li .wrap .headcount .headcountToggle { display: flex; justify-content: flex-end; align-items: center; color: #aaa; }
.moimList > li .wrap .headcount .headcountToggle .toggleName { display: flex; margin-right: 10px; font-size: .9rem; }
.moimList > li .wrap .headcount .headcountToggle .toggleName .totalApproval { position: relative; margin-left: 3px; margin-right: 6px; }
.moimList > li .wrap .headcount .headcountToggle .toggleName .totalApproval:after { position: absolute; top: 0; right: -6px; content: "/"; }


.moimList > li .wrap .headcount .headcountWrap { position: absolute; top: 130%; right: 0; z-index: 2; display: none; width: 60%; background: #fff; border: 1px solid #ccc; border-radius: 5px; padding: 10px; }
.moimList > li .wrap .headcount .headcountWrap ul {}
.moimList > li .wrap .headcount .headcountWrap ul li { display: flex; justify-content: space-between; align-items: center; font-size: .9rem; color: #888; }
.moimList > li .wrap .headcount .headcountWrap ul li .positionDetail {}
.moimList > li .wrap .headcount .headcountWrap ul li .participant { display: flex; }
.moimList > li .wrap .headcount .headcountWrap ul li .participant .approval { position: relative; margin-right: 6px; }
.moimList > li .wrap .headcount .headcountWrap ul li .participant .approval:after { position: absolute; top: 0; right: -6px; content: "/"; }

.moimList > li .wrap .headcount .headcountToggle:hover + .headcountWrap { display: block; }


/* 부투스트랩 조정 */
.badge { font-weight: 400; }

.badge.badge-size-sm { font-size: .8rem; }
.badge.badge-size-lg { font-size: 1.1em; }

.badge.badge-category { background: rgba(0, 0, 0, .8); }
.badge.badge-project { background: #7B27FF; }
.badge.badge-study { background: #FF8911; }

.btn {}

.btn.btn-custom-add,
.btn.btn-custom-add:focus { background: #7B27FF; color: #fff; }
.btn.btn-custom-add:focus { border: 1px solid #7B27FF; }

.btn.btn-custom-default,
.btn.btn-custom-default:focus { background: #382B47; color: #fff; }
.btn.btn-custom-default:focus { border: 1px solid #382B47; }

.btn.btn-custom-point,
.btn.btn-custom-point:focus { background: #FF8911; color: #fff; }
.btn.btn-custom-point:focus { border: 1px solid #FF8911; }

#siteNotice { z-index: 9999; }