<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>
<th:block layout:fragment="js">
    <script>
        $(() => {
            $(".moimList > li").click(e => {
                let no = $(e.currentTarget).data('no');
                document.location.href = "/moim/detail/"+no;
            });

            $(".userList > li").click(e => {
                let no = $(e.currentTarget).data('no');
                document.location.href = "/user/detail?no="+no;
            });
        });
    </script>
</th:block>

<th:block layout:fragment="container">
    <main>
        <div class="container">

            <div class="wrapper weekBest">
                <div class="mainTitle">
                    <div class="title">
                        <p class="subject">주간 인기 모임</p>
                        <span class="desc">한주에 가장 인기있는 모임을 만나보세요!</span>
                    </div>
                    <div class="etc">
                        <a href="" class="more">전체 모임 보기</a>
                    </div>
                </div>
                <div class="content">
                    <ul class="moimList">
                        <li th:each="data : ${moimBestList}" th:data-no="${data.moimNo}">
                            <div class="category">
                                <span class="badge text-bg-dark">
                                    <th:block th:if="${data.moimDetail.category!=null}">[[${data.moimDetail.category.categoryName}]]</th:block>
                                    <th:block th:if="${data.moimDetail.studyCategory!=null}">[[${data.moimDetail.studyCategory.studyCategoryName}]]</th:block>
                                </span>
                            </div>
                            <div class="thumbnail">
                                <img th:src="${data.moimDetail.moimImg}" alt="">
                            </div>
                            <div class="wrap">
                                <div class="etc">
                                    <div class="type">
                                        <span class="badge project" th:if="${data.type eq 'project'}">프로젝트</span>
                                        <span class="badge study" th:if="${data.type eq 'study'}">스터디</span>
                                    </div>
                                    <div class="like">
                                        <i class="bi bi-heart"></i>
                                        <span>[[${data.likeList.size()}]]</span>
                                    </div>
                                </div>
                                <p class="subject">[[${data.subject}]]</p>
                                <p class="desc">[[${data.shortDesc}]]</p>
                                <div class="language">
                                    <ul class="languageList">
                                        <li th:each="language : ${data.languageList}">
                                            <th:block th:if="${language.path==null}">
                                                <div class="item">
                                                    <span class="badge rounded-pill text-bg-secondary">[[${language.name}]]</span>
                                                </div>
                                            </th:block>

                                            <th:block th:if="${language.path!=null}">
                                                <div class="item">
                                                    <img th:src="${language.path}" alt="">
                                                </div>
                                            </th:block>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wrapper newUser">
                <div class="mainTitle">
                    <div class="title">
                        <p class="subject">새로 합류한 팀원</p>
                        <span class="desc">어깨동무에 새롭게 합류한 팀원들이에요!</span>
                    </div>
                    <div class="etc">
                        <a href="" class="more">전체 팀원 보기</a>
                    </div>
                </div>
                <div class="content">
                    <ul class="userList">
                        <li th:each="data : ${userNewList}" th:data-no="${data.userNo}">
                            <div class="thumbnail">
                                <img th:if="${data.userDetail.profileImg eq null}" src="https://letspl.me/assets/images/prof-no-img.png" alt="">
                                <img th:unless="${data.userDetail.profileImg eq null}" th:src="${data.userDetail.profileImg}" alt="">
                            </div>
                            <div class="wrap">
                                <p class="nickname">
                                    [[${data.nickname}]]
                                    <th:block th:unless="${data.userJob eq null}">
                                    <span class="level" th:unless="${data.userJob.level eq null}">
                                        Lv.
                                        <span>[[${data.userJob.level}]]</span>
                                    </span>
                                    </th:block>
                                </p>

                                <th:block th:unless="${data.userJob eq null}">
                                <p class="positionDetail" th:unless="${data.userJob.positionDetail eq null}">
                                    [[${data.userJob.positionDetail.middleName}]]
                                </p>
                                </th:block>
                            </div>
                            <div class="message">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</th:block>

</html>