<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <h2>login</h2>
    <div class="loginModal">
        <p>로그인</p>
        <button class="closeBtn"></button>
        <label>
            <form action="/login/" method="post">
                ID : <input type="text" name="email" id="email"/>
                PW : <input type="password" name="pass" id="pass" />
                <button type="submit">로그인</button>
                <br>
                [[${error}]]
            </form>
        </label>
        <button class="loginBtn naver">네이버 아이디로 로그인</button>
        <button class="loginBtn kakao">카카오 아이디로 로그인</button>
        <button class="loginBtn google">구글 아이디로 로그인</button>
        <a href="/login/find" class="findBtn">비밀번호 찾기</a>
        <a href="/login/register" class="registerBtn">회원 가입하기</a>
    </div>
</body>
</html>