<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <h2>login</h2>
    <div class="loginModal">
        <p>로그인</p>
        <label>
            <form action="/login/loginProc" method="post">
                ID : <input type="text" name="username" id="username"/>
                PW : <input type="password" name="password" id="password" />
                <button type="submit">로그인</button>
                <br>
                [[${error}]]
            </form>
        </label>
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a><br>
        <a href="/oauth2/authorization/naver" class="btn btn-sm btn-success active" role="button">네이버 로그인</a><br>
        <a href="/oauth2/authorization/kakao" class="btn btn-sm btn-success active" role="button">카카오 로그인</a><br>
        <a href="/login/find" class="findBtn">비밀번호 찾기</a>
        <a href="/login/register" class="registerBtn">회원 가입하기</a>
        <a href="/logout" class="logout">로그아웃</a>
    </div>
</body>
</html>