@charset "UTF-8";
main .container {
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto; /* 가운데 정렬을 위해 추가 */
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2; /* 배경색 추가 */
    padding: 20px; /* 내부 여백 추가 */
}
.content{padding: 20px;}
#reply{
    border-radius: 8px; /* 모서리를 둥글게 만듦 */
    width: 500px;
    height: 50px;
    padding-left: 10px;
}
#recomment {
    border-radius: 8px; /* 모서리를 둥글게 만듦 */
    width: 400px;
    height: 50px;
    margin-top: 10px;
    padding-left: 10px;
}

.reply {
    align-items: center;
}

.replyForm input[type='submit'] {
    margin-bottom: 60px;
    margin-left: 5px;
    height: 45px;
}
.recommentWrite{margin-left: 10px;}
.recommentForm{display: none; align-items: center}
.recommentForm input[type='submit']{
    margin-bottom: 60px;
    margin-left: 5px;
    height: 40px;
}

.board {
    width: 70%;
    background-color: #fff; /* 내용 영역 배경색 추가 */
    padding: 20px; /* 내부 여백 추가 */
    border-radius: 8px; /* 모서리를 둥글게 만듦 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.wrapReply {
    margin-top: 100px; /* 위쪽 간격 조절 */
    margin-bottom: 20px; /* 아래쪽 간격 조절 */
}

.wrapReply .title {
    font-weight: bold;
    margin-bottom: 5px; /* 제목과 댓글 입력 창 사이의 간격 조절 */
}

.wrapReply .comments {
    margin-bottom: 10px; /* 댓글 입력 창과 댓글 목록 사이의 간격 조절 */
}

.detailSidebar {
    width: 25%;
    background-color: #fff; /* 배경색 추가 */
    padding: 20px; /* 내부 여백 추가 */
    border-radius: 8px; /* 모서리를 둥글게 만듦 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.userProfile {
    text-align: center; /* 텍스트 가운데 정렬 */
}

.userProfile img {
    max-width: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 함 */
    border-radius: 50%; /* 이미지를 원형으로 만듦 */
    margin-top: 10px; /* 이미지 위 여백 추가 */
}

.wrapModify a {border-radius: 5px; border-color: #7B27FF; text-decoration: none;}
input[type='submit'] {border-radius: 5px;}

.btn {margin-top: 20px; display: inline-block; justify-content: right;}
.desc {margin-top: 30px;}

.commentWrap{ margin-top: 30px;}
.commentsHeader{display: flex; align-items: center; margin-bottom: 10px; line-height: normal; }
.commentsHeader a {display: flex; align-items: center;}
.commentRegdate{margin-left: 10px;}
.commentsBody{margin-top: 20px; margin-left: 10px;}
.commentsBottom{align-items: center; margin-left: 10px;}
.btnPlusComments{height: 30px; font-size: 15px; line-height: normal;}
.btnViewComments{height: 30px; font-size: 15px; line-height: normal;}
.writerProfile img {width: 30px; height: 30px;  border-radius: 50%; /* 이미지를 원형으로 만듦 */}

.recommentWrap{margin-top: 30px; margin-left: 20px;}