@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main .container {
    max-width: 1200px;
    padding: 20px;
}

.mainTitle {
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject {
    font-size: 24px;
    font-weight: bold;
}

.content{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.search {
    display: flex;
    align-items: center;
}
.searchForm, .search a{
    margin-left: 15px;
}
.search select, .search input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.selectCategory {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.selectCategory a {
    text-decoration: none;
    color: #555;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #ecf0f1;
}

.selectCategory a:hover {
    background-color: #7B27FF;
    color: #fff;
}

.allContents ul {
    list-style: none;
    padding: 0;
}

.wrap {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wrap .cate span {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #7B27FF;
    color: #fff;
}

.wrap .subject {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #2c3e50;
}

.wrap .etc {
    display: flex;
    align-items: center;
    margin: 15px 15px 0 0;
    color: #555;
}
.wrap .etc span {
    margin-left: 15px;
}
.wrap .etc img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.search{margin-left: 15px;}
.wrapperAll{margin-top: 30px;}
.nullNotice{text-align: center; padding: 10px;}
.nullNotice h2{font-weight: 500; color: #1F1926;}